body {
    background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-pared-pintada-blanco_53876-138197.jpg?size=626&ext=jpg&ga=GA1.1.187570847.1675342931);
}
.titulo {
   font-family: 'Times New Roman', Times, serif;
   font-size: 70px;
   background-color: grey;
   height: 100%;
}
.boton {
    border: 2px;
    border-style: double;
    font-weight: bold;
}
.menu {
    background-color: brown;
    font-size: 30px ;
    height: auto;
    list-style: none;
}
footer {
    bottom: 0px;
    left: 0px;
    background-color: yellowgreen;
    font-size: 20px;
}
/*intermedio*/
@media only screen and (max-width: 1250px) {
    .titulo {
            font-size: 65px;
            };
}
/*portatil*/
@media only screen and (max-width: 1024px) {
    .titulo {
            font-size: 60px;
            };
    .logo {
        height: 100px;
        width: 80px;
        }
}
/*intermedio*/
@media only screen and (max-width: 900px) {
    .titulo {
            font-size: 55px;
            };
    }
/*tablet*/
@media only screen and (max-width: 768px) {
    .titulo {
        font-size: 50px;
    };
    .logo {
    height: 80px;
    width: 60px;
    }
}
/* mobile*/
@media only screen and (max-width: 768px) {
    .titulo {
            font-size: 30px;
        };
    .logo {
    height: 30px;
    width: 10px;
    }
}